{% extends 'admin/change_list.html' %}
{% block object-tools %}
<form id="category-form" method="POST">
    {% csrf_token %}
        {% for field in form %}
            <div class="col-md-12 dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ field.label_tag }}
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu">
                    <div><a href="#">{{ field }}</a></div>
                </div>
            </div>
        {% endfor %}
</form>
{{ block.super }}
{% endblock object-tools %}       